---
// Componente para la vista de rutina diaria
import RoutineSelector from './RoutineSelector.astro';
---

<div id="view-today">
	<div class="bg-white p-3 sm:p-4 md:p-6 rounded-lg shadow-md">
		<RoutineSelector />
		
		<div id="daily-workout-container" class="mt-4">
			<!-- El contenido se generará con JavaScript -->
		</div>
	</div>
</div>
